* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  #top-intro {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    text-align: left;
    padding-left: 100px;
    margin-top: 100px;
  }

  h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 100px;
    text-align: center;
    margin-top: -20px;
  }

  h4, p {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    overflow: hidden;
  }

  nav,
  footer {
    padding: 1% 0;
    background-color: #117094;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  
  
  header {
    padding: 12% 0;
  }
  
  section {
    min-height: 100px;
    padding: 5% 0;
    background-color: #4a9ab8;
  }
  
  section:nth-child(even) {
    background-color: #8eb3c1;
  }
  
  .first-project {
    height: 600px;
    width: 700px;
  }

  #quiz-app > p {
    font-size: 16px;
  }

  .live-link {
    color: blue;
    font-size: 16px;
  }

  .navbar {
    top: 0;
    left: 0;
    right: 0;
    padding: 0px;
    height: 40px;

    background-color: #117094;
}

  ul {
    list-style: none;
}
  .hamburger {

    display: block;
    width: 30px;
    height: 30px;
    float: right;
    position: relative;
    color: white;
}
.menu > li {
  float: left;
  padding: 20px;
  color: white;
  margin-bottom: 18px;
  font-size: 12px;
  margin-top: -28px;
}

@media screen and (min-width: 320px;) {
  .hamburger {
    visibility: visible
  }
    nav > .menu {
    visibility: hidden
  }
}

@media screen and (max-width: 880px) {
  .hamburger {
    visibility: visible
  }
    nav > .menu {
    visibility: hidden
  }
}

@media screen and (min-width: 881px) {
  .hamburger {
    visibility: hidden;
    display: none;
}
}